body {
   background-color: aquamarine;
}

.container {
   display: flex;
   align-items: center;
   background-color: blueviolet;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   color: antiquewhite;
   justify-content: space-between;
   margin-top: 50px;
}

ul {
   display: flex;
   list-style-type: none;
   gap: 12px;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   color: white;
}

button {
   padding: 10px;
   width: 70px;
   border-radius: 20px;
   text-align: center;

}

.para {
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: x-large;
   margin-top: 100px;
}

.child1 {
   font-family: 'Times New Roman', Times, serif;
}