body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(https://e0.pxfuel.com/wallpapers/548/99/desktop-wallpaper-bia-printed-circuit-board.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heading {
    text-align: center;
    color: red;
}

@media screen and (max-width:600px) {
    .container {
        background: white;
        padding: 10px;
        width: 350px;
        text-align: center;
        border-radius: 7px;
    }
}


.form-group {
    text-align: left;
}

label {
    font-size: medium;
    color: darkgoldenrod;
    font-size: larger;
}

input {
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    margin: 1px;
    border-radius: 5px; 
}

button {
    width: 100px;
    padding: 5px;
    background-color: darkorchid;
    border: none;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
}



button a {
    text-decoration: none;
    color: white;
    width: 100%;
}
.para1{
    color: darkgoldenrod;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
